@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: slategrey;
  overflow-x: hidden;
}
